@charset "UTF-8";
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  background: #2c2c2c;
  height: 100vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 52px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__top_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__navbar_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__logo {
    padding-right: 78px;
    -webkit-animation: animate 10s linear forwards;
            animation: animate 10s linear forwards; }
    @media screen and (max-width: 320px) {
      .header__logo {
        padding-left: 10px; } }
  @media screen and (max-width: 768px) {
    .header__navbar {
      display: none; } }
  .header__navbar_item {
    list-style: none;
    padding-right: 64px; }
    @media screen and (max-width: 1024px) {
      .header__navbar_item {
        padding-right: 50px; } }
  .header__navbar_link, .header__navbar_link_last {
    text-decoration: none;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 13px;
    cursor: pointer; }
    @media screen and (max-width: 1024px) {
      .header__navbar_link, .header__navbar_link_last {
        font-size: 11px; } }
  @media screen and (max-width: 768px) {
    .header__navbar_link_last {
      display: none; } }
  .header__navbar_link:before {
    position: absolute;
    content: "";
    left: -1px;
    bottom: -7px;
    height: 2px;
    width: 100%;
    background: #2060f6;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
  .header__navbar_link:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left; }
  .header__navbar_link_last:before {
    content: "";
    width: 100%;
    background: #2060f6;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: -1px;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
  .header__navbar_link_last:hover:before {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .header__text {
    margin-top: 160px; }
    @media screen and (max-width: 768px) {
      .header__text {
        text-align: center;
        margin-top: 100px; } }
  .header__title {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 32px;
    letter-spacing: -2px;
    line-height: 68px; }
  .header__descr {
    font-size: 18px;
    color: #fff;
    margin-bottom: 80px; }
    @media screen and (max-width: 768px) {
      .header__descr {
        margin-bottom: 50px; } }
  .header__button {
    text-decoration: none;
    color: #fff;
    background: #2060f6;
    padding: 15px 70px;
    border-radius: 8px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .header__button:hover {
    color: #2060f6;
    background: #fff; }
  .header__slider {
    position: absolute;
    right: 0;
    bottom: -7px; }
    @media screen and (max-width: 768px) {
      .header__slider {
        display: none; } }
  .header__slider_1_picture {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 540px; }
    @media screen and (max-width: 1024px) {
      .header__slider_1_picture {
        height: 500px; } }
  .header__slider_1 {
    position: relative; }
  .header__slider_descr {
    position: absolute;
    bottom: 50px;
    left: 145px; }
  .header__slider_arrow_left {
    background: url(../images/slider/left.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    bottom: 70px;
    left: 50px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
  .header__slider_arrow_right {
    background: url(../images/slider/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    bottom: 70px;
    left: 90px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
  .header__slider_arrow_left:hover, .header__slider_arrow_right:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .header__slider_arrow_left:active, .header__slider_arrow_right:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

.whowe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee; }
  @media screen and (max-width: 768px) {
    .whowe {
      text-align: center; } }
  .whowe__title {
    font-size: 32px;
    color: #253757;
    font-weight: 600; }
    @media screen and (max-width: 768px) {
      .whowe__title {
        font-size: 30px;
        margin-bottom: 7px; } }
  .whowe__descr {
    font-size: 24px;
    font-weight: 600;
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em; }
    @media screen and (max-width: 768px) {
      .whowe__descr {
        font-size: 22px; } }
    @media screen and (max-width: 375px) {
      .whowe__descr {
        font-size: 20px; } }

.exp {
  background: #fff;
  border-radius: 30px; }
  .exp__block_img {
    width: 184px;
    height: 166px;
    border-radius: 15px;
    margin-bottom: 40px;
    -o-object-fit: cover;
       object-fit: cover; }
  .exp__title {
    text-align: center;
    font-size: 52px;
    color: #253757;
    font-weight: 600;
    padding-top: 125px;
    padding-bottom: 62px; }
    @media screen and (max-width: 375px) {
      .exp__title {
        font-size: 40px; } }
  .exp__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding-bottom: 130px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      .exp__blocks {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  @media screen and (max-width: 768px) {
    .exp__block {
      margin-bottom: 30px; } }
  .exp__block_title {
    font-size: 20px;
    font-weight: 600;
    color: #253757;
    margin-bottom: 16px; }
  .exp__block_descr {
    font-size: 14px;
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    max-width: 264px;
    line-height: 1.5em; }

.air__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.air__text {
  padding-top: 250px;
  padding-bottom: 250px; }
  @media screen and (max-width: 768px) {
    .air__text {
      padding-top: 100px;
      padding-bottom: 650px;
      margin: 0 auto;
      text-align: center; } }
  @media screen and (max-width: 414px) {
    .air__text {
      padding-bottom: 1200px; } }

.air__pre_title {
  font-size: 13px;
  color: #c0cdd7;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px; }
  @media screen and (max-width: 1024px) {
    .air__pre_title {
      font-size: 12px; } }

.air__title {
  font-size: 32px;
  font-weight: 600;
  color: #253757;
  margin-bottom: 22px;
  max-width: 362px; }
  @media screen and (max-width: 1024px) {
    .air__title {
      font-size: 30px; } }

.air__descr {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #6c788b;
  max-width: 362px; }
  @media screen and (max-width: 768px) {
    .air__descr {
      line-height: 1.5em; } }

.air__cards {
  position: absolute;
  right: 320px;
  top: 290px; }
  @media screen and (max-width: 1024px) {
    .air__cards {
      right: 250px;
      top: 230px; } }
  @media screen and (max-width: 768px) {
    .air__cards {
      top: 550px;
      right: 350px; } }
  @media screen and (max-width: 414px) {
    .air__cards {
      right: 335px; } }
  @media screen and (max-width: 375px) {
    .air__cards {
      right: 322px; } }
  @media screen and (max-width: 375px) {
    .air__cards {
      right: 320px; } }
  @media screen and (max-width: 360px) {
    .air__cards {
      right: 321px; } }
  @media screen and (max-width: 320px) {
    .air__cards {
      right: 323px; } }

.air__card_1, .air__card_2, .air__card_3, .air__card_4 {
  width: 264px;
  height: 264px;
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }

@media screen and (max-width: 414px) {
  .air__card_1 {
    right: -300px;
    position: absolute;
    top: -100px; } }

.air__card_2 {
  position: absolute;
  right: -300px;
  top: -120px; }
  @media screen and (max-width: 414px) {
    .air__card_2 {
      top: 200px; } }

.air__card_3 {
  position: absolute;
  top: 300px;
  z-index: 3; }
  @media screen and (max-width: 414px) {
    .air__card_3 {
      right: -300px;
      top: 500px; } }

.air__card_4 {
  right: -300px;
  position: absolute;
  top: 180px;
  z-index: 14; }
  @media screen and (max-width: 414px) {
    .air__card_4 {
      top: 800px; } }

.air__card_number {
  color: #2060f6;
  font-size: 13px;
  position: relative;
  left: 42px;
  top: 32px;
  font-weight: 600; }

.air__card_number:before {
  content: "";
  background: #2060f6;
  opacity: 0.1;
  position: absolute;
  width: 46px;
  height: 24px;
  border-radius: 23px;
  left: -10px;
  top: -2px; }

.air__card_descr {
  font-weight: 600;
  font-size: 13px;
  color: #6c788b;
  font-family: "Open Sans", sans-serif;
  margin-top: 60px;
  margin-left: 32px;
  max-width: 200px;
  line-height: 1.5em; }

.air__card_more {
  font-weight: 600;
  font-size: 15px;
  color: #253757;
  position: relative;
  margin-left: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  cursor: pointer; }

.air__card_more:before {
  content: "";
  background: url(../images/more.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: #2060f6;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }

.air__card_more:hover:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.feat {
  width: 95%;
  margin-left: 5%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #2c2c2c;
  margin-bottom: 150px; }
  @media screen and (max-width: 414px) {
    .feat {
      width: 100%;
      margin-left: 0;
      border-radius: 20px;
      margin-bottom: 100px; } }
  .feat__content {
    position: relative; }
  .feat__bg_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 620px;
    border-top-left-radius: 30px; }
    @media screen and (max-width: 1024px) {
      .feat__bg_img {
        width: 450px; } }
    @media screen and (max-width: 768px) {
      .feat__bg_img {
        display: none; } }
  .feat__pre_title {
    color: #fff;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px; }
  .feat__text {
    padding-top: 200px;
    margin-left: 200px;
    padding-bottom: 200px; }
    @media screen and (max-width: 1024px) {
      .feat__text {
        padding-top: 100px;
        margin-left: 100px;
        padding-bottom: 100px; } }
    @media screen and (max-width: 768px) {
      .feat__text {
        padding-top: 200px;
        text-align: center;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 414px) {
      .feat__text {
        padding-top: 100px; } }
  .feat__title {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    margin-bottom: 32px; }
    @media screen and (max-width: 375px) {
      .feat__title {
        font-size: 30px; } }
    @media screen and (max-width: 375px) {
      .feat__title {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 27px; } }
  .feat__descr_1, .feat__descr_2, .feat__descr_3 {
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 100px;
    max-width: 264px; }
    @media screen and (max-width: 768px) {
      .feat__descr_1, .feat__descr_2, .feat__descr_3 {
        text-align: left; } }
    @media screen and (max-width: 375px) {
      .feat__descr_1, .feat__descr_2, .feat__descr_3 {
        font-size: 14px;
        padding-right: 15px; } }
  .feat__descr_1, .feat__descr_2 {
    margin-bottom: 64px; }
  .feat__descr_1:before {
    position: absolute;
    content: "";
    background: url(../images/features/speaker.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    left: -100px; }
    @media screen and (max-width: 375px) {
      .feat__descr_1:before {
        left: -85px; } }
  .feat__descr_2:before {
    position: absolute;
    content: "";
    background: url(../images/features/calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    left: -100px; }
    @media screen and (max-width: 375px) {
      .feat__descr_2:before {
        left: -85px; } }
  .feat__descr_3:before {
    position: absolute;
    content: "";
    background: url(../images/features/file-text.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    left: -100px; }
    @media screen and (max-width: 375px) {
      .feat__descr_3:before {
        left: -85px; } }

.testimonials {
  margin-bottom: 168px; }
  .testimonials__text {
    margin-bottom: 85px; }
    @media screen and (max-width: 768px) {
      .testimonials__text {
        text-align: center; } }
  .testimonials__pre_title {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase; }
  .testimonials__title {
    color: #253757;
    font-size: 32px; }
  .testimonials__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 1024px) {
      .testimonials__cards {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .testimonials__card {
    width: 314px;
    height: 494px;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .testimonials__card {
        margin-bottom: 50px; } }
  .testimonials__card_img {
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-top: 87px;
    margin-bottom: 80px;
    z-index: 3;
    position: relative;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .testimonials__card:hover .testimonials__card_img {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  .testimonials__card_photo:after, .testimonials__card_photo:before {
    content: "";
    position: absolute;
    width: 139px;
    height: 56px;
    background: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .testimonials__card_photo:after {
    top: 175px;
    left: 140px; }
  .testimonials__card_photo:before {
    top: 70px;
    left: 45px; }
  .testimonials__card:hover .testimonials__card_photo:after {
    left: 150px; }
  .testimonials__card:hover .testimonials__card_photo:before {
    left: 35px; }
  .testimonials__card_q {
    background: url(../images/testimonials/“.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
    height: 20px;
    margin: 0 auto;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .testimonials__card:hover .testimonials__card_q {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  .testimonials__card_descr {
    font-size: 13px;
    font-weight: 600;
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    max-width: 240px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 16px; }
  .testimonials__card_name {
    font-size: 13px;
    font-weight: 600;
    color: #253757;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 4px; }
  .testimonials__card_status {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase; }

.vision {
  background: #fff;
  height: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: -10px;
  position: relative; }
  @media screen and (max-width: 414px) {
    .vision {
      height: 550px; } }
  @media screen and (max-width: 375px) {
    .vision {
      height: 500px; } }
  .vision__content {
    text-align: center; }
  .vision__title {
    font-size: 52px;
    color: #253757;
    font-weight: 600; }
    @media screen and (max-width: 414px) {
      .vision__title {
        font-size: 40px; } }
    @media screen and (max-width: 375px) {
      .vision__title {
        font-size: 32px; } }
  .vision__descr {
    font-family: "Open Sans", sans-serif;
    color: #6c788b;
    font-size: 24px;
    max-width: 750px;
    margin: auto;
    margin-bottom: 70px; }
  .vision__button {
    text-decoration: none;
    color: #fff;
    background: #2060f6;
    padding: 15px 70px;
    border-radius: 8px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .vision__button:hover {
    color: #2060f6;
    background: #fff;
    border: 1px solid #2060f6; }

.footer {
  background-color: #2c2c2c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__form {
    max-width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 140px;
    margin-top: 180px; }
    @media screen and (max-width: 768px) {
      .footer__form {
        padding-top: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto; } }
  .footer__form_item {
    border-bottom: 2px solid #fff;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .footer__form_item:hover {
    border-bottom: 2px solid #144ed4; }
  .footer__form_field, .footer__form_field_area {
    width: 460px;
    background: transparent;
    border: none;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #fff;
    font-size: 15px;
    font-weight: 600; }
    @media screen and (max-width: 414px) {
      .footer__form_field, .footer__form_field_area {
        width: 330px; } }
    @media screen and (max-width: 375px) {
      .footer__form_field, .footer__form_field_area {
        width: 310px; } }
    @media screen and (max-width: 360px) {
      .footer__form_field, .footer__form_field_area {
        width: 300px; } }
    @media screen and (max-width: 320px) {
      .footer__form_field, .footer__form_field_area {
        width: 290px; } }
  .footer__form_field::-webkit-input-placeholder, .footer__form_field_area::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    font-family: "Poppins", sans-serif; }
  .footer__form_field::-moz-placeholder, .footer__form_field_area::-moz-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    font-family: "Poppins", sans-serif; }
  .footer__form_field:-ms-input-placeholder, .footer__form_field_area:-ms-input-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    font-family: "Poppins", sans-serif; }
  .footer__form_field::-ms-input-placeholder, .footer__form_field_area::-ms-input-placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    font-family: "Poppins", sans-serif; }
  .footer__form_field::placeholder, .footer__form_field_area::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    font-family: "Poppins", sans-serif; }
  .footer__form_field_area {
    resize: none;
    height: 20px;
    font-family: "Poppins", sans-serif; }
  .footer__form_title, .footer__contact_title {
    font-size: 32px;
    color: #fff;
    font-weight: 600; }
  @media screen and (max-width: 320px) {
    .footer__form_title {
      font-size: 26px; } }
  .footer__contact_title {
    margin-bottom: 56px;
    font-size: 30px; }
  .footer__contact_number, .footer__contact_contact_visit {
    margin-bottom: 48px; }
  .footer__form_btn {
    margin-top: 100px; }
    @media screen and (max-width: 768px) {
      .footer__form_btn {
        margin-top: 60px; } }
  .footer__form_button {
    text-decoration: none;
    color: #fff;
    background: #2060f6;
    padding: 15px 85px;
    border-radius: 8px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .footer__form_button:hover {
    color: #2060f6;
    background: #fff; }
  .footer__contact {
    margin-top: 180px;
    margin-left: 250px; }
    @media screen and (max-width: 1024px) {
      .footer__contact {
        margin-left: 100px; } }
    @media screen and (max-width: 768px) {
      .footer__contact {
        padding-top: 70px;
        padding-bottom: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; } }
  .footer__contact_pre_text {
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
    color: #fff; }
  .footer__contact_text {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
    @media screen and (max-width: 768px) {
      .footer__contact_text {
        font-size: 20px; } }
  .footer__contact_text:hover {
    color: #2060f6; }
  .footer__link {
    text-decoration: none; }
  .footer__icon {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
  .footer__icon:nth-child(1) {
    fill: #fff; }
  .footer__link:hover .footer__icon {
    fill: #2060f6; }
  .footer__link:nth-child(3):hover .footer__icon {
    fill: #e4405f; }
  .footer__link:nth-child(2):hover .footer__icon {
    fill: #00acee; }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 150px;
    margin-top: 20px; }
  .footer__nav_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 80px; }
    @media screen and (max-width: 768px) {
      .footer__nav_block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 650px; }
    @media screen and (max-width: 414px) {
      .footer__list {
        width: 320px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .footer__item_link {
    text-decoration: none;
    color: #fff;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 13px; }
    @media screen and (max-width: 414px) {
      .footer__item_link {
        font-size: 10px; } }
  @media screen and (max-width: 768px) {
    .footer__logo {
      margin-bottom: 30px; } }
  .footer__item {
    list-style: none; }
  .footer__item_link:before {
    position: absolute;
    content: "";
    left: -1px;
    bottom: -7px;
    height: 2px;
    width: 100%;
    background: #2060f6;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
  .footer__item_link:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left; }

#menuToggle {
  display: none;
  position: relative;
  top: -5px;
  left: 500px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }
  @media screen and (max-width: 768px) {
    #menuToggle {
      display: block; } }
  @media screen and (max-width: 414px) {
    #menuToggle {
      left: 190px;
      top: 0; } }
  @media screen and (max-width: 375px) {
    #menuToggle {
      left: 168px; } }
  @media screen and (max-width: 375px) {
    #menuToggle {
      left: 150px; } }
  @media screen and (max-width: 320px) {
    #menuToggle {
      left: 136px; } }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 5px;
  z-index: 1;
  -webkit-transform-origin: 4px 0;
          transform-origin: 4px 0;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #252525; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 875px;
  top: -90px;
  left: -700px;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  @media screen and (max-width: 414px) {
    #menu {
      width: 1140px; } }
  @media screen and (max-width: 375px) {
    #menu {
      width: 1183px; } }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none; }

.header__navbar_link_toggle {
  text-decoration: none;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 13px;
  cursor: pointer; }

.header__navbar_link_toggle:before {
  content: "";
  width: 100%;
  background: #2060f6;
  height: 2px;
  position: absolute;
  bottom: -7px;
  left: -1px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease; }

.header__navbar_link_toggle:hover:before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0); }

@media screen and (max-width: 414px) {
  .rectangle {
    display: none; } }

.rectangle__item {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid rgba(32, 96, 246, 0.4);
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  .rectangle__item--big {
    width: 143px;
    height: 56px;
    border: 5px solid rgba(32, 96, 246, 0.4);
    border-radius: 12px; }
    .rectangle__item--big:nth-of-type(1) {
      top: 50%;
      left: 15%; }
    .rectangle__item--big:nth-of-type(2) {
      top: 22%;
      right: 15%; }
    .rectangle__item--big:nth-of-type(3) {
      bottom: 20%;
      right: 10%; }
  .rectangle__item--mid {
    width: 85px;
    height: 33px;
    border-radius: 12px; }
    .rectangle__item--mid:nth-of-type(4) {
      bottom: 20%;
      left: 10%; }
    .rectangle__item--mid:nth-of-type(5) {
      top: 15%;
      left: 17%; }
    .rectangle__item--mid:nth-of-type(6) {
      top: 50%;
      right: 5%; }
    .rectangle__item--mid:nth-of-type(7) {
      bottom: 33%;
      right: 22%; }
  .rectangle__item--small {
    width: 45px;
    height: 17px;
    border-radius: 7px; }
    .rectangle__item--small:nth-of-type(8) {
      top: 10%;
      left: 28%; }
    .rectangle__item--small:nth-of-type(9) {
      top: 60%;
      left: 5%; }
    .rectangle__item--small:nth-of-type(10) {
      top: 70%;
      left: 33%; }
    .rectangle__item--small:nth-of-type(11) {
      top: 75%;
      right: 38%; }
    .rectangle__item--small:nth-of-type(12) {
      top: 13%;
      right: 10%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #eee;
  font-family: Poppins, sans-serif;
  overflow-x: hidden; }

.container {
  max-width: 1150px;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .container {
      max-width: 880px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 680px; } }
  @media screen and (max-width: 414px) {
    .container {
      max-width: 350px; } }
  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px; } }
  @media screen and (max-width: 375px) {
    .container {
      max-width: 314px; } }

/*# sourceMappingURL=main.css.map */
